 <div class="banner" style="background-image: url(https://st3.depositphotos.com/14051716/18156/v/600/depositphotos_181568132-stock-video-circles-soft-pastel-colors-shape.jpg); height: 100px;">
        <h1>Add a review</h1>
</div>
<div class="row justify-content-center">
    <div class="col-4">
<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
</div>
</div>

<%= link_to 'Show', @cocktail %>
